.menuCard {
    max-width: var(--max-width);
    height: auto;
    margin: 0 auto;
    padding: 2rem;
    background: var(--background);
    border-radius: 1rem;
    box-shadow: 0 4px 6px var(--text-dark);
    text-align: center;
}
.menu{
    
}
.menuTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: var(--text-dark);
}
.menuItem {
    font-size: 1.25rem;
    margin: 1rem 0;
    color: var(--text-dark);
}
.pasta::after {
    content: "★★★★★";
    color: var(--text-dark);
}