.foodSection{
    background: var(--gradient);
    
}
.foodContainer{
    max-width: var(--max-width);
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 5rem 2rem;
    text-align: center;
    
}

.foodInfo h2{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.foodInfo h4{
    color: var(--text-white);
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.foodInfo p{
    color: var(--text-white);
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.images{
    display: grid;
    grid-template-columns: 1fr 1fr;

    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    flex: 1 1 25rem;
}

.images li{
    border: 0.2rem solid var(--foreground);
    border-radius: 1.2rem; 
    background: var(--gradient);
    
    padding: 1rem;
    justify-items: center;
    align-content: center;
    width: 15rem; 
    height: 15rem;
    text-align: center;
    

    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
}
.images li:hover,
.images li:active{
    transform: translateY(-10px);
    background: var(--foreground);
}
.foodInfo{
    flex: 1 1 25rem;
    padding: 2rem 1rem;
}
.kitchen{
    text-align: center;
    margin: 1.5rem 0;
}
.priceContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}
.priceContainer h3{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-dark);
}
.priceContainer span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.1rem;
    width: 6.5rem;
    height: 6.5rem;
    color: var(--theme-color);
    border: 1px solid var(--text-dark);
    background: var(--foreground);
    border-radius: 50%;
    padding: 3.5rem;
}
.kitchenTime h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-white);
}
.kitchenTime span{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--theme-color);
    border: 1px solid var(--text-dark);
    background: var(--background);
    border-radius: 3rem;
    padding: .5rem 1rem;
  
}

.menuCard{
    max-width: var(--max-width);
    height: auto;
    margin: 0 auto;
    padding: 2rem;
    background: var(--background);
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}


/* Media Queries */
@media (width <= 62rem /* 1024px */) {
    .foodSection{
        max-width: var(--lg);
    }
    .images li{
        width: 11rem;
        height: 11rem;
        flex: 1 1 15rem;
    }

}
@media (width <= 57rem /* 912px */) {
    .foodContainer{
        flex-direction: column-reverse;
        text-align: center;
        gap: 0.5rem;
    }
   
}

@media (width <= 48rem /* 768px */) {
    .foodInfo{
        padding: 0.5rem;
    }   

}

@media (width <= 40rem /* 640px */) {
    .images{
        padding-top: 0;
    }
    .images li{
        width: 9.5rem;
        height: 9.5rem;
    }

}
@media (width <= 21.25rem /* 340px */) {
  
    .images li{
        width: 8rem;
        height: 8rem;
    }
    
}
